<div class="container">
    <div class="card">
        <div class="card_header">
            <h3>Listado de Articulos</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Articulo</th>
                        <th>Fecha Compra</th>
                        <th>Valor Compra</th>
                        <th>Tipo Articulo</th>
                        <th>Serial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos" class="text-canter">
                        <td>{{articulo.id}}</td>
                        <td>{{articulo.articuloNombre}}</td>
                        <td>{{articulo.fechaCompra}}</td>
                        <td>{{articulo.valorCompra}}</td>
                        <td>{{articulo.tipoArticulo}}</td>
                        <td>{{articulo.serial}}</td>
                        <td>
                            <button (click)="Editar(articulo)" class="btn btn-warning" style="margin-left: 15px;">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>